.wrapper {
  margin: 100px auto 0;
  width: 1000px;
  height: 225px;
  background: #cccccc;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  width: 3000px;
  list-style-type: none;
  position: relative;
}
ul:hover li {
  width: 20px;
}
ul li {
  -webkit-box-sizing: border-box;
  float: left;
  width: 1200px;
  height: 801px;
  position: relative;
  overflow: hidden;
  background: #3498db;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
ul li:nth-child(1) {
  background: #34495e;
}
ul li:nth-child(2) {
  background: #3498db;
}
ul li:nth-child(3) {
  background: #7f8c8d;
}
ul li:nth-child(4) {
  background: #8e44ad;
}
ul li:nth-child(5) {
  background: #9b59b6;
}
ul li:nth-child(6) {
  background: #2980b9;
}
ul li:nth-child(7) {
  background: #d35400;
}
ul li:nth-child(8) {
  background: #16a085;
}
ul li:nth-child(9) {
  background: #f39c12;
}
ul li:nth-child(10) {
  background: #d35400;
}
ul li:nth-child(11) {
  background: #ecf0f1;
}
ul li:nth-child(12) {
  background: #e74c3c;
}
ul li:nth-child(13) {
  background: #2c3e50;
}
ul li:nth-child(14) {
  background: #3498db;
}
ul li:nth-child(15) {
  background: #1abc9c;
  padding: 0 400px 0 0;
}
ul li:hover {
  width: 360px;
}
ul li:hover > a > .title {
  left: 45px;
}
ul li .title {
  padding: 4px;
  position: absolute;
  top: 10px;
  left: 200px;
  font-size: 1.5em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
